{% extends "base.html" %}

{% block main_area %}

<h3>My Orders</h3>
<table class="table">
    <tr>
    	<th>Order</th>
    	<th>Order Date</th>
    	<th>Amount</th>
    	<th>Notes</th>
    	<th>Status</th>
    	<th>Status Detail</th>
    	<th></th>
    </tr>

    {% if order %}
    {% for myorder in order %}
    <tr>
        <td>{{ myorder.order_no }}</td>
        <td>{{ myorder.created_on }}</td>
        <td>{{ myorder.amount }}</td>
        <td>{{ myorder.order_notes }}</td>
        <td>{{ myorder.get_status_display }}</td>
        <td>{{ myorder.status_message }}</td>
        <td></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="7" class="text-center">No Result</td></tr>
    {% endif %}
</table>

{% endblock main_area %}