<style type="text/css">
#body {
	width: 900px;
	margin:0px auto;
}
.address {
	margin: 20px 0px;
}
.top10 {
	margin-top: 10px;
}
#order_table {
	border-collapse: separate;
	border-spacing: 3px;
	display: block;
}
#order_table th, #order_table td{
	border: 1px solid #d1d0ce;
	padding: 3px;
	padding-top: 6px;
	display: block;
}
#order_table td {	
	padding: 3px 2px 0px 2px;
}
.align_right {
	text-align: right;
}
</style>

<div id="body">

<div class="top">
	<table>
		<tr>
			<td><img src="{{logo}}" width="180" height="73"></td>
			<td>
				Unit 13<br>
				Neilston Street Business Centre<br>
				LEAMINGTON SPA<br>
				CV31 2AZ<br>
				United Kingdom<br>
				www.mytonautomotive.com<br>
				info@mytonautomotive.com
			</td>
			<td valign="top">
				<b>Order Number:</b> {{order.order_no}}<br>
				<b>Invoice Date and Time:</b> {{order.created_on|date:"d/m/Y H:i"}}
			</td>
		</tr>
	</table>	
</div>
<div class="top">
	VAT Number : {{order.user.profile.vat_number}}
</div>
<div class="address">
	<table width="100%">
		<tr>
			<td width="50%">
				<h4>Invoice to</h4>
			</td>
			<td width="50%" class="align_right">
				<h4>Deliver to</h4>			
			</td>
		</tr>
		<tr>
			<td>
				<div class="top10">
					{{order.user.profile.first_name}} {{order.user.profile.last_name}}{% if order.user.profile.business_name %} ({{order.user.profile.business_name}}){% endif %}<br>
					{{order.user.profile.address_line1}}<br>
					{{order.user.profile.address_line2}}
				</div>
				<div class="top10">
					{{order.user.profile.city}}<br>
					{{order.user.profile.state}}<br>
					{{order.user.profile.postcode}}<br>
					{{order.user.profile.country.name}}
				</div>		
				<div class="top10">
					Tel : {{order.user.profile.telephone}}<br>
					Mob : {{order.user.profile.mobile}}
				</div>
			</td>
			<td class="align_right">
				<div class="top10">
					{{order.order_delivery.first_name}} {{order.order_delivery.last_name}}{% if order.order_delivery.business_name %} ({{order.order_delivery.business_name}}){% endif %}<br>
					{{order.order_delivery.address_line1}}<br>
					{{order.order_delivery.address_line2}}
				</div>
				<div class="top10">
					{{order.order_delivery.city}}<br>
					{{order.order_delivery.state}}<br>
					{{order.order_delivery.postcode}}<br>
					{{order.order_delivery.country.name}}
				</div>
				<div class="top10">
					Tel : {{order.order_delivery.telephone}}
				</div>	
			</td>
		</tr>
	</table>
</div>
<div class="clear_both"></div>
<div class="order_detail">
	<h4>Order details</h4>
	<table id="order_table">
		<thead>
			<tr>
				<th width="15%">Part No</th>
				<th width="30%">Description</th>
				<th width="5%">Qty</th>
				<th width="5%">Weight (kg)</th>
				<th width="10%">Surcharge ex VAT</th>
				<th width="10%">Price ex VAT</th>
				<th width="10%">Total ex VAT</th>
				<th width="5%">VAT</th>
				<th width="10%">Total inc VAT</th>
			</tr>
		</thead>
		<tbody>			
			{% for detail_order in order.detail_order_data %}			
			<tr>
				<td>{{ detail_order.product.part_number }}</td>
				<td style="color:blue">{{ detail_order.product.name }}</td>
				<td>{{ detail_order.qty }}</td>
				<td>{{ detail_order.weight }}</td>
				<td class="align_right">&pound; {{ detail_order.surcharge|currency }}</td>
				<td class="align_right">&pound; {{ detail_order.price|currency }}</td>
				<td class="align_right"><b>&pound; {{ detail_order.amount|currency }}</b></td>
				<td>{{ vat }}%</td>
				<td class="align_right"><b>&pound; {% price_inc_tax detail_order.amount vat %}</b></td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8" class="align_right">Total Weight (kg)</td>
				<td class="align_right">{{order.order_delivery.weight}}</td>
			</tr>
			<tr>
				<td colspan="8" class="align_right">Total ex VAT</td>
				<td class="align_right">&pound; {{order.amount|subtract:order.order_delivery.cost|subtract:order.vat|currency}}</td>
			</tr>
			<tr>
				<td colspan="8" class="align_right">Shipping & Processing ex VAT ({{order.order_delivery.service}})</td>
				<td class="align_right">&pound; {{order.order_delivery.cost}}</td>
			</tr>
			<tr>
				<td colspan="8" class="align_right">Total VAT</td>
				<td class="align_right">&pound; {% vat_value order.amount|subtract:order.order_delivery.cost|subtract:order.vat vat %}</td>
			</tr>
			<tr>
				<td colspan="8" class="align_right">Total</td>
				<td class="align_right">&pound; {{order.amount|currency}}</td>
			</tr>
		</tfoot>
	</table>
	<h4>Order Notes</h4>
	<div>{{order.order_notes}}</div>
	<h4>Status</h4>
	<div>{{order.get_status_display}}</div>
</div>

</div> <!-- end body -->