{% extends "base.html" %}


{% block main_area %}
<h3>Part Number Lookup</h3>
  <form action="/search/" method="get">{% csrf_token %}
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
<p>
<div>

    Search Query was <strong>{{ search_query }}</strong></td>
    <p></p>
    <p>Results:</p>
    <div></div>

<table class="table">
    <tr><strong><th>Part Number</th><th>Description</th><th>Retail Price</th><th>Your Price</th><th>Supersesions</th><th>Surcharge</th></strong></tr>


    {% for part_number in part %}
    <tr>
        <td>{{ part_number.part_number }}</td>
        <td>{{ part_number.description }}</td>
        <td>{{ part_number.rrp_price }}</td>
        <td>{{ part_number.buy_price }}</td>
        <td>{{ part_number.supersessions }}</td>
        <td>{{ part_number.surcharge }}</td>
    </tr>
    {% endfor %}

</table>

</div>
<p>

</p>



{% endblock main_area %}