{% extends "base.html" %}


{% block main_area %}
<h3>Part Number Lookup</h3>
<form action="/search/" method="get" class="form-inline" role="form">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" name="q" placeholder="Enter the part number">
    </div>
    <div class="form-group">
        <input type="submit" class="form-control" name="submit" value="Search">
    </div>
    <!-- <input type="text" name="q">
    <input type="submit" value="Search"> -->
</form> 


<div>

    {% if search_query %}
    <span class="help-block">Search Query was <strong>{{ search_query }}</strong></span>
    {% endif %}
    <p>Results:</p>

<table class="table">
    <tr><th>Part Number</th><th>Description</th><th>Discount Code</th><th>Retail Price</th><th>Your Price</th><th>Supersessions</th><th>Surcharge</th><th></th></tr>

    {% if part %}
    {% for part_number in part %}
    <tr>
        <td>{{ part_number.part_number }}</td>
        <td>{{ part_number.name }}</td>
        <td>{{ part_number.discount_code }}</td>
        <td>{{ part_number.retail_price }}</td>
        <td><b>{% your_price request part_number.pk %}</b></td>
        <td>{{ part_number.supersessions }}</td>
        <td>{{ part_number.surcharge }}</td>
        <td><a href="" onclick="addtocart('/addcart/{{part_number.id}}'); return false;" class="btn btn-success btn-sm">Order</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="7" class="text-center">No Result</td></tr>
    {% endif %}

</table>

</div>

{% endblock main_area %}